/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.flowbite-text {
  font-family: 'Kavoon', cursive;
  font-size: 30px;
}

.flowbite-menu {
  font-family: 'Jockey One', sans-serif;
  font-size: 20px;
}